!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content =>"text/html; charset=UTF-8"}        
      %title Technical Library
      %link{:rel => "stylesheet",
        :type => "text/css",
        :media => "all",
        :href => "/oocss/oocss.css"}
      %script{:type => "text/javascript",
            :src => "/oocss/scripts/jquery-1.7.min.js"}
      %script{:type => "text/javascript",
              :src => "/oocss/scripts/jquery.tablesorter.min.js"}
      :javascript
        $(document).ready(function() 
        { 
         $(".sort_table").tablesorter({cssAsc: "ascending", cssDesc: "descending"});
         } 
         ); 

  %body
    %div{:class => "hd line"}
      %div{:class => "wizardBg box callout chatty"}
        %div{:class => "inner"}
          %div{:class => "unit size3of4 mts"}
            %div{:class=>"media"}
              %a{:class=>"img",
                 :href=>"/dbcom/en-us/index.htm"}
                %img{:alt=>"Database.com cloud",
                     :src=>"/img/databaselogo_cloud.png",
                     :width => "100px",
                     :height => "70px"}
              %div{:class=>"mediaBd"}
                %ul{:class=>"basicList",
                    :style => "margin: 0px;"}
                  %li{:style => "margin-left: 0px;"}
                    %a{:class=>"img",
                       :href=>"/dbcom/en-us/index.htm"}
                      %img{:src => "/img/databaselogo_text.png",
                           :width => "270px",
                           :height => "43px"}
                    %li{:style => "margin-left: 5px;"}
                      %span{:class => "h2",
                            :style => "color: #FFFFFF"}
                        = t.title.main
          %div{:class => "unit size1of4 lastUnit"}
            %div{:class => "box chatty wizardBg mrs"}
              %div{:class => "inner"}
                %form{:action => " ",
                      :method => "post"}
                  %div{:class =>"headerSearchLeftRoundedCorner"}
                    %div{:class => "searchBoxClearContainer"}
                      %input{:type => "text",
                             :class => "headerSearchBoxGhostText",
                             :value => "",
                             :title => t.search.string,
                             :size => "20",
                             :name => "search_query",
                             :maxlength => "100",
                             :id => "phSearchInput",
                             :autocomplete => "off"}
                      %div{:title => "Clear search terms",
                           :style => "visibility:hidden",
                           :id => "phSearchClearButton",
                           :class => "headerSearchClearButton"}
                    %div{:id => "searchButtonContainer",
                         :class =>"headerSearchRightRoundedCorner"}
                      %input{:type => "submit",
                             :value => t.search.string,
                             :id => "phSearchButton"}
  %div{:class => "page liquid body mal"}
    %div{:class => "content mal"}
      =yield
 
    %div{:class => "footer"}
      %p{:style => "text-align: center"}
        = t.misc.copyright
