%div{:class => "line"}
  %div{:class => "box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class => "box infoBg"}
        %div{:class => "data colSort"}
          %h1 Tips on Searching
          %p
            Searches are simple.  Enter the terms you want to search for and press <b>Search</b>.
          %p You can search for a phrase by surrounding it with quote characters.  For example, "grant access" will return all the topics with the phrase "grant access", but will not return topics that contain only the term grant or access, or a topic that contains both terms, but separated by other words.
          %p You can use + and - to indicate mandatory or optional entries.  For example, <br/><pre>grant + access</pre>returns all the topics with the terms "grant" and "access".  The search <br/><pre>grant - access</pre> will return all the topics with the term "grant" but without the term "access".  The + is not required.  A search of the form <br/><pre>grant access</pre> will return the same results as <br/><pre>grant + access</pre><br/>
          %p Wildcard searches are not supported.
     
