%div{:class => "line"}
  %div{:class => "box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class => "unit size1of5 box chart"} 
        %div{:class => "inner mrm"}
          %div{:class => "hd"} 
            %h3
              =@sidebartitle
          %div{:class => "bd"}
            %p
              =@sidebarcontent
      %div{:class=> "unit size4of5"}
        %div{:class => "box infoBg"}
          %div{:class => "data colSort"}
            %p Information on searches from Indextank.

